<footer class="site-footer">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <nav class="site-footer__nav">
          <a class="site-footer__nav-link" href="/">Homepage</a>
          <a class="site-footer__nav-link" href="/about-us">About</a>
          <a class="site-footer__nav-link" href="/terms-and-conditions">Terms of service</a>
          <a class="site-footer__nav-link" href="/privacy-policy">Privacy policy</a>
          <a class="site-footer__nav-link" href="/support">Support</a>
          <a class="site-footer__nav-link" href="/support#faq">FAQ</a>
          <a class="site-footer__nav-link" href="//www.medium.com/moonassist" rel="external">News</a>
        </nav>

        <p class="site-footer__about">
          Moon Assist lets you trade like a professional using a single platform, integrating with your favorite exchanges. We make it easy to get control over your wide portfolio, trade safely, and maximize profits.</p>
        </p>

        <div class="site-footer__social">
          <a href="https://bitcointalk.org/" class="site-footer__social-link" rel="external"><i class="fa fa-bitcoin" aria-hidden="true"></i></a>
          <a href="https://reddit.com/r/moonassist/" class="site-footer__social-link" rel="external"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a>
          <a href="//www.t.me/moonassist" class="site-footer__social-link" rel="external"><i class="fa fa-telegram" aria-hidden="true"></i></a>
          <a href="//www.facebook.com/moonassist" class="site-footer__social-link" rel="external"><i class="fa fa-facebook" aria-hidden="true"></i></a>
          <a href="//www.twitter.com/moon_assist" class="site-footer__social-link" rel="external"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="//www.medium.com/moonassist" class="site-footer__social-link" rel="external"><i class="fa fa-medium" aria-hidden="true"></i></a>
        </div>

        <div class="site-footer__copyright">
          <span>© All Rights Reserved by Moon Assist 2018</span>
          <span class="site-footer__motto highlight--secondary">In Crypto we Trust</span>
        </div>

      </div>
    </div>
  </div>
</footer>
