<!--/* Site Header */-->
<header class="header">
  <div class="container">
    <div class="header__row">
      <a class="header__brand" href="/">
        <img src="/images/moonassist-logo.svg" class="header__brand-logo header__brand-logo--lg" alt="Moon Assist" />
        <img src="/images/moonassist-logo--small.svg" class="header__brand-logo header__brand-logo--sm" alt="Moon Assist">
      </a>

      <nav class="header__nav">
        <a class="header__link" href="/">Home</a>
        <a class="header__link" href="/about-us">About</a>
        <a class="header__link" href="/support">Support</a>
        <a class="header__link" href="http://www.medium.com/moonassist" target="_blank">Blog</a>
        <a class="header__link--button" href="https://app.moonassist.com/auth/login?utm_source=landingpage&utm_content=nav-button">Login</a>
        <a class="header__link--button header__link--button-primary" href="https://app.moonassist.com/auth/register?utm_source=landingpage&utm_content=nav-button">Signup for Free</a>
      </nav>
    </div>
  </div>
</header>
