<!--/* Site content - Newsletter */-->
<section class="section section--newsletter">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="section__header section__header--compact">
          <h2 class="section__headline" id="newsletter">Signup for our News &amp; Updates</h2>
          <p class="section__description">
            Follow us on our cryptospace journey, find out about our
            project updates and our own crypto recommendations.</p>
          <p class="section__note highlight--primary"> We will never share your email with anyone else.</p>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="newsletter-form-wrapper">
          <form action="https://landing.mailerlite.com/webforms/submit/m7k7i1" data-id="856446" data-code="m7k7i1" method="POST" class="newsletter-form" novalidate>
            <div class="row">
              <div class="col-md-8">
                <input class="newsletter-form__input"
                  type="email" name="fields[email]" placeholder="Enter email"
                  autocomplete="off" spellcheck="false" autocapitalize="off" />
                <input type="hidden" name="ml-submit" value="1" />
                <div class="newsletter-form__error">Please enter a valid email!</div>
              </div>
              <div class="col-md-4">
                <input class="newsletter-form__button" type="submit" value="Signup" />
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
