<!--/* Site content - Intro */-->
<section class="section section--intro">
  <!--/* Site content: About */-->
  <div class="about">

    <div class="container">
      <div class="row">
        <div class="col">

          <div class="hero__caption">
            <img class="hero-logo" src="/images/ma-icon.svg?v=1" alt="Moon Assist">
            <h1 class="hero__title">The Moon Assist Story</h1>
            <p class="hero__lead">
              <strong class="highlight--primary">Brought together for the love of crypto</strong>
            </p>
          </div>

          <div class="about__intro">
            <div class="row justify-content-center">
              <div class="col-md-8 col-lg-8">
                <p>
                  Moon Assist was founded by a group of developers, designers and crypto trading professionals who firmly believe cryptocurrencies will reshape our financial system. We believe in a new system where trust and ownership is distributed to individuals through decentralized technologies rather than left in the hands of regulators and third party intermediaries.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="team-summary">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <p>
              This shared vision brought our remote team together from different corners of the world. Our goal is to build a better crypto trading platform that makes interacting with exchanges easier and helps crypto enthusiast and traders make better trades.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


<!--/* Site content: Why Crypto */-->
<section class="section section--why-crypto">
  <div class="whycrypto">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="whycrypto__image"></div>
        </div>
        <div class="col-lg-6">
          <div class="whycrypto__caption">
            <h3 class="whycrypto__caption-title">Why Crypto.</h3>
            <p>
              Cryptocurrencies are building a more open economy from the ground up, replacing legacy finance with distributed technology. We see these new systems offering people better access to financial services and greater control over their assets. Crypto is restoring power to the people.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--/* Site content: Mission */-->
<section class="section section--mission">
  <div class="mission">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 order-2 order-lg-1">
          <div class="mission__caption">
            <h3 class="mission__caption-title">Our Mission.</h3>
            <p>
              Navigating cryptospace can be complicated. Our mission at Moon Assist is to make trading easier. Our control center integrates the top exchanges into a single platform so traders can access and manage their portfolios seamlessly. We’ve implemented advanced trading features to offer more flexibility beyond the features available on each independent exchange.

            </p>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2">
          <div class="mission__image"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- partial('_partial/newsletter') %>
