
<!--/* Site content - Intro */-->
<section class="section section--intro">
  <!--/* Site content: Hero */-->
  <div class="hero">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="hero__caption">
            <h1 class="hero__title">Multi-Exchange Crypto Trading</h1>
            <p class="hero__lead">
              <span>Don't Just Trade. Trade Better.🚀</span>
            </p>
          </div>

          <div class="hero__cta">
            <div class="row no-gutters justify-content-center">
              <div class="col-md-5 col-lg-3">
                <a href="https://app.moonassist.com/auth/register?utm_source=landingpage&utm_content=hero-button" class="hero__button">
                  Signup for Free
                </a>
              </div>
            </div>
            <p class="section__note highlight--primary">
              <span>No KYC/AML Required</span>
            </p>
          </div>

        </div>
      </div>
    </div>


    <!--/* Site content: Exchange Rates */-->
    <div class="section__part exchange-rates-section">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="exchange-rates exchange-rates--loading">
              <div class="exchange-rates__item coin" data-coin-id="BTC">
                <img src="/images/logo/BTC@1x.svg?v=1" class="coin__logo" alt="BTC" />
                <div class="coin__info">
                  <h4 class="coin__name">Bitcoin<span> | BTC</span></h4>
                  <span class="coin__price"></span>
                  <span class="coin__change"></span>
                </div>
              </div>
              <div class="exchange-rates__item coin" data-coin-id="ETH">
                <img src="/images/logo/ETH@1x.svg?v=1" class="coin__logo" alt="ETH" />
                <div class="coin__info">
                  <h4 class="coin__name">Ethereum<span> | ETH</span></h4>
                  <span class="coin__price"></span>
                  <span class="coin__change"></span>
                </div>
              </div>
              <div class="exchange-rates__item coin" data-coin-id="DASH">
                <img src="/images/logo/Dash@1x.svg?v=1" class="coin__logo" alt="DASH" />
                <div class="coin__info">
                  <h4 class="coin__name">Dash<span> | DASH</span></h4>
                  <span class="coin__price"></span>
                  <span class="coin__change"></span>
                </div>
              </div>
              <div class="exchange-rates__item coin" data-coin-id="XMR">
                <img src="/images/logo/Monero@2x.png?v=1" class="coin__logo" alt="XMR" />
                <div class="coin__info">
                  <h4 class="coin__name">Monero<span> | XMR</span></h4>
                  <span class="coin__price"></span>
                  <span class="coin__change"></span>
                </div>
              </div>
            </div>
          <div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--/* Site content - Features */-->
<section class="section section--features">
    <!--/* Site content: Features */-->
  

    <div class="section__content">
      <div class="container">
        <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">
          <div class="section__header">
            <p class="section__headline text-center">
              <strong class="highlight--primary">Moon Assist</strong> is a user-friendly platform that arms cryptocurrency traders with multi-exchange access and advanced tools to make better trades.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section__part">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="carousel slide" id="interface-slides" data-ride="carousel" data-interval="5000" data-pause="hover">
            <ol class="carousel-indicators">
              <li data-target="#interface-slides" data-slide-to="0" class="active"></li>
              <li data-target="#interface-slides" data-slide-to="1"></li>
              <li data-target="#interface-slides" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/images/homepage/carousel1@2x.png?v=1" class="app-interface__image" alt="Moon Assist Dashboard">
              </div>
              <div class="carousel-item">
                <img src="/images/homepage/carousel2@2x.png?v=1" class="app-interface__image" alt="Moon Assist Trading">
              </div>
              <div class="carousel-item">
                <img src="/images/homepage/carousel3@2x.png?v=1" class="app-interface__image" alt="Moon Assist Market">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="features-list-wrapper">
          <ul class="row features-list">
            <li class="col-lg-4 col-md-6 col-sm-6">
              <div class="features-list__item">
                <h5 class="highlight--primary">Multi-exchange platform <span class="section__note highlight--quaternary">Live</span></h5>
                <p class="features-list__description">Single sign-on multi-exchange platform where you can connect and trade with your Binance, Bittrex &amp; Coinbase Pro accounts.</p>
              </div>
            </li>
            <li class="col-lg-4 col-md-6 col-sm-6">
              <div class="features-list__item">
                <h5 class="highlight--primary">Limit & Market order types <span class="section__note highlight--quaternary">Live</span></h5>
                <p class="features-list__description">Use our limit & market order types, consistently offered on all connected exchanges.</p>
              </div>
            </li>
            <li class="col-lg-4 col-md-6 col-sm-6">
              <div class="features-list__item">
                <h5 class="highlight--primary">Stop & Trailing orders <span class="section__note highlight--secondary">Coming soon</span></h5>
                <p class="features-list__description">Maximize your crypto profits with our stop & trailing stop features. Automatically follow market trends to maximize your gains.</p>
              </div>
            </li>
          </ul>
          <ul class="row features-list justify-content-center">
            <li class="col-lg-4 col-md-6 col-sm-6">
              <div class="features-list__item">
                <h5 class="highlight--primary">Arbitrage trading <span class="section__note highlight--secondary">Coming soon</span></h5>
                <p class="features-list__description">Buy your cryptocurrency tokens at the lowest rates and sell them at the highest by using our advanced arbitrage trading tool.</p>

              </div>
            </li>
            <li class="col-lg-4 col-md-6 col-sm-6">
              <div class="features-list__item">
                <h5 class="highlight--primary">AI trading bot <span class="section__note highlight--secondary">Coming Soon</span></h5>
                <p class="features-list__description">We offer an automated bot that combines technical analysis with a self learning AI market sentiment layer.</p>
              </div>
            </li>
          </ul>
      </div>
    </div>
  </div>
</section>

<!--/* Site content - Beta Signup*/-->
<section class="section section--betasignup">
  <div class="container">
    <div class="row justify-content-left">
      <div class="col-lg-7">
        <div class="ufo">
          <img src="/images/homepage/ufo@2x.png?v=1" class="ufo" alt="Moon Assist Beta UFO">
        </div>

        <div class="section__header section__header--compact">
          <h2 class="section__headline" id="betasignup">Get started with Moon Assist!</h2>
          <p class="section__description">
            Signup and start trading from our multi-exchange access app.
            Don't Just Trade. Trade Better.
          </p>
          <p class="section__note highlight--primary">
              <span>No KYC/AML Required</span>
            </p>
        </div>
      </div>

      <div class="col-md-5 col-lg-3">
        <a href="https://app.moonassist.com/auth/register?utm_source=landingpage&utm_content=signup-section"
        class="beta__button">
          Signup for Free
        </a>
      </div>
    </div>
  </div>
</section>


<!--/* Site content: Platform */-->
<section class="section section--advanced-features">
  <div class="section__part">

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-8">
          <div class="section__header">
            <p class="section__headline text-center">
              <strong class="highlight--primary">Simplified Advanced Trading.</strong>
              We’ve taken the difficulty out of using advanced trading functions. With our intuitive interface and step by step advanced order actions, you can take advantage of pro trading tools and take your trading to the next level.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="section__content">

      <!-- Convert Coin -->
      <div class="convert-coin">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="convert-coin__animation"></div>
            </div>
            <div class="col-lg-5">
              <div class="convert-coin__caption">
                <p>
                  <span class="highlight--secondary">Coin converter.</span>
                  Within each of our supported exchanges, we enable users to directly convert between coins to more seamlessly trade your favorite altcoins.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Signal Buy -->
      <div class="signal-buy">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 order-2 order-lg-1">
              <div class="signal-buy__caption">
                <p>
                  <span class="highlight--quaternary">Signal Buy.</span>
                  Set advanced buy signals to act on trend changes and enter into positions at the right time.
                </p>
              </div>
            </div>
            <div class="col-lg-7 order-1 order-lg-2">
              <div class="signal-buy__animation"></div>
            </div>
          </div>
        </div>
      </div>

      <!-- Advnced Sell -->
      <div class="advanced-sell">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <div class="advanced-sell__animation"></div>
            </div>
            <div class="col-lg-5">
              <div class="advanced-sell__caption">
                <p>
                  <span class="highlight--tertiary">Advanced Sell.</span>
                  Set advanced sell targets to lock in gains and exit positions at the right time.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section>


<!--/* Site content: Exchanges */-->
<section class="section section--exchanges">
  <div class="section__exchanges">
    <div class="container">
      <div class="row justify-content-center">

        <div class="col-md-10 col-lg-8">
          <div class="section__header">
            <p class="section__headline text-center">
              <strong class="highlight--secondary">Connecting with the most popular crypto exchanges.</strong>
              Through exchange API keys, we enable you to connect and interact with your accounts from a single, user-friendly interface.
            </p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col">
          <div class="text-center">
            <img src="/images/homepage/exchanges-api@2x.png?v=1" class="exchanges-api" alt="Moon Assist Exchanges Integration">
          </div>
          <div class="text-center">
            <img src="/images/homepage/supported-exchanges@2x.png?v=1" class="exchanges-supported" alt="Moon Assist Supported Exchanges">
          </div>
          <p class="section__text text-center">
            Missing your favourite exchange?
            <a href="https://moonassist.typeform.com/to/VENUty" >Click here to vote for the next exchange to be listed</a>
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<!--/* Site content: Roadmap */-->
<section class="section section--roadmap">
  <div class="section__roadmap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-7">
          <div class="section__part">
            <div class="row justify-content-center">
              <div><img src="/images/homepage/responsive-screens@2x.png?v=1" class="responsive-screens" alt="Moon Assist Responsive App"></div>
            </div>
          </div>
          <div class="section__header">
            <p class="section__headline text-center">
              Our roadmap is packed with product updates. <span class="highlight--primary">Trailing Stop,</span> <span class="highlight--quaternary">Ai Trading Bot</span> and <span class="highlight--tertiary">Arbitrage Trading</span> are some of the next features we plan to implement. Sign up for our newsletter for future updates from our team.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%- partial('_partial/newsletter') %>
