<div class="support support--confirm">
  <!--/* Site content - Intro */-->
  <section class="section section--intro">
    <div class="support-intro">
      <div class="container">
        <div class="row">
          <div class="col">

            <div class="hero__caption">
              <h1 class="hero__title">Thank you!</h1>
              <p class="hero__lead">
                <strong class="highlight--primary">
                  <%- page.content %>
                </strong>
              </p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>
</section>

<%- partial('_partial/newsletter') %>
